:root {
    font-family: $font-family;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100vw;
    min-height: 100vh;
}

.masthead {
    display: grid;
    grid-template-columns: 50vw auto 300px auto;
}

//temporary to show grid
.fill {
    background: $dark;
    margin: 10px;
    height: 300px;
    display: inline-block;
}

.name {
    grid-column: 1 / span 4;
}

.ideals {
    grid-column: 1 / span 4;
}

.join-us {
    grid-column: 1 / span 4;
}

.for {
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.for-item {
    align-self: stretch;
    margin: 5px;
    background: $light;
    padding: 10px;
    border-radius: 3px;
}

@media (min-width: 800px) { 
    .masthead {
        grid-template-rows: auto auto;
    }
    .name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .ideals {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .join-us {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
    .for {
        flex-direction: row;
        justify-content: center;
    }
    .for-item {
        width: 300px;
    }
}