:root {
    font-family: $font-family;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100vw;
    min-height: 100vh;
}

.masthead {
    display: grid;
    grid-template-columns: 50vw auto 300px auto;
}

.fill {
    background: $dark;
    margin: 10px;
    height: 300px;
    display: inline-block;
}

.name {
    grid-column: 1 / span 4;
}

.ideals {
    grid-column: 1 / span 4;
}

.join-us {
    grid-column: 1 / span 4;
}

@media (min-width: 800px) { 
    .masthead {
        grid-template-rows: auto auto;
    }
    .name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .ideals {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .join-us {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}