:root {
    font-family: $font-family;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    width: 100vw;
    min-height: 100vh;
}

.masthead {
    display: grid;
    grid-template-areas:
        "Name",
        "Ideals",
        "Join";
}