*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Open Sans", sans-serif;
  color: #404040;
  background-color: #f5f6f8; }

main {
  max-width: 1024px;
  margin: 0 auto;
  width: 100vw;
  min-height: 100vh; }

h1, h2 {
  font-family: "Lato", sans-serif; }

.masthead {
  display: grid;
  grid-template-columns: auto auto 30rem auto; }

.fill {
  background: #404040;
  margin: 10px;
  height: 300px;
  display: inline-block; }

.name {
  padding: 2rem 2rem 0;
  grid-column: 1 / span 4;
  max-width: 50rem; }
  .name-logo {
    height: 4rem;
    display: block;
    margin-bottom: 2rem; }
  .name-header-name, .name-header-sub {
    display: block;
    font-size: 9rem;
    font-weight: 900;
    line-height: 1.1; }
  .name-header-name {
    color: #404040; }
  .name-header-sub {
    color: #65c6b9; }

.ideals {
  grid-column: 1 / span 4;
  padding: 2rem; }
  .ideals-text {
    font-weight: 400;
    font-size: 2rem; }

.join-us {
  grid-column: 1 / span 4;
  color: #ffffff; }
  .join-us-container {
    font-size: 1.4rem;
    background-color: #f9b54d;
    padding: 2rem; }
  .join-us h2 {
    font-size: 3rem;
    margin-bottom: .7rem;
    text-align: center; }
  .join-us p {
    margin-bottom: .7rem; }
  .join-us .mc-field-group {
    margin-bottom: 1rem;
    text-align: center; }
  .join-us .clear {
    text-align: center; }
  .join-us input {
    display: inline-block;
    width: 100%;
    font-size: 1.6rem;
    border-radius: .1rem;
    margin: 0;
    border: none;
    padding: 1rem; }
  .join-us .button {
    background-color: #ffffff;
    color: #404040; }
  .join-us select {
    font-size: 1.6rem;
    width: 100%;
    font-size: 1.6rem; }

.for {
  display: flex;
  justify-content: stretch;
  flex-direction: column;
  margin-bottom: 2rem; }
  .for-item {
    align-self: stretch;
    margin: 0.5rem;
    background: #ffffff;
    padding: 2rem 2rem;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); }
    .for-item-heading {
      font-size: 3rem;
      margin-bottom: .7rem; }
    .for-item-text {
      font-size: 1.7rem; }

.important {
  padding: 2rem; }
  .important-heading {
    font-size: 3rem;
    margin-bottom: .7rem; }
  .important-text {
    font-size: 1.7rem;
    margin-bottom: 1.5rem; }

.cta {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto; }
  .cta-box {
    padding: 2rem;
    color: #ffffff;
    height: 300px; }
  .cta-left {
    grid-column: 1 / span 2;
    background-color: #65c6b9; }
  .cta-right {
    grid-column: 1 / span 2;
    background-color: #c13a2c; }
  .cta-heading {
    font-size: 3rem;
    margin-bottom: 1rem; }
  .cta-text {
    font-size: 1.7rem;
    margin-bottom: 1.5rem; }

.footer {
  background-color: #ffffff; }
  .footer-container {
    margin: 0 auto;
    max-width: 1024px;
    padding: 2rem; }
  .footer-info {
    margin-bottom: 2rem; }
  .footer-text {
    font-size: 1.5rem; }

.btn-social {
  display: inline-block;
  font-size: 3rem;
  background-color: #3B5998;
  color: #ffffff;
  height: 4rem;
  text-align: center;
  border-radius: .3rem;
  margin-right: 3rem;
  padding: 0 .6rem;
  text-decoration: none; }

@media (min-width: 800px) {
  .masthead {
    grid-template-rows: auto auto; }
  .name {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
  .ideals {
    grid-column: 1 / 2;
    grid-row: 2 / 3; }
  .join-us {
    grid-column: 3 / 4;
    grid-row: 1 / 2; }
    .join-us-container {
      margin-right: 2rem; }
  .for {
    flex-direction: row;
    justify-content: center; }
  .for-item {
    width: 35rem; }
  .cta-left {
    grid-column: 1 / 2; }
  .cta-right {
    grid-column: 2 / 3; } }

/*# sourceMappingURL=main.css.map */