:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family;
    color: $dark-grey;
    background-color: $light-grey;
}

h1, h2, h3 {
    font-family: $font-family-headings;
}

.masthead {
    color: $dark-grey;
    text-align: center;
    padding: 50px 0;

    &-title {
        font-size: 6rem;
        margin: 20px 0;
    }
    &-subtitle {
        font-size: 1.5rem;
        margin: 0 auto;
        max-width: 600px;
    }
}

.for {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    background: $blue;

    width: 100%;
    padding: 50px 0;
    &-students {
        grid-column: 2 / span 4;
    }

    &-nonprofits {
        grid-column: 8 / span 4;
    }

    &-separator {
        grid-column: 6 / span 2;
        grid-row: 1;
        height: 100%;
        padding: 20px 0;
        &-line {
            width: 2px;
            background: $light-grey;
            height: 100%;
            margin: 0 auto;
        }        
    }

    &-logo {
        grid-column: 6 / span 2;
        grid-row: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &-img {
            width: 80%;
        }
    }

    &-title {
        font-size: 2rem;
        color: $orange;
        margin-bottom: 20px;
    }

    &-text {
        color: $light-grey;
        font-size: 1.1rem;
        text-align: justify;
    }
}

