:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $font-family;
    color: $dark-grey;
    background-color: $light-grey;
}

h1, h2, h3 {
    font-family: $font-family-headings;
}

.masthead {
    color: $dark-grey;
    text-align: center;
    
    background: url('../assets/memphis-colorful.png');
    background-color: rgba(233, 150, 5, 0.9);
    background-blend-mode: multiply;
    
    min-height: 100vh;
    padding: 20vh 10px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    &-title {
        font-size: 6rem;
        margin: 20px 0;
    }
    &-subtitle {
        font-size: 1.5rem;
        margin: 0 auto;
        max-width: 600px;
    }
}

.for {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr auto 1fr;
    min-height: 100vh;
    
    justify-content: center;
    
    background: url('../assets/playstation-pattern.png');
    background-color: $blue;
    background-blend-mode: color-burn;
    
    width: 100%;
    padding: 50px 0;
    &-students {
        grid-column: 2 / span 4;
        grid-row: 2 ;
    }
    
    &-nonprofits {
        grid-column: 8 / span 4;
        grid-row: 2;
    }
    
    &-separator {
        grid-column: 6 / span 2;
        grid-row: 1 / span 3;
        height: 100%;
        
        display: grid;
        grid-template-rows: 1fr auto 1fr;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        
        &-line {
            width: 2px;
            background: $light-grey;
            height: 100%;
            margin: 0 auto;
            
            &-1 {
                grid-row: 1;
                grid-column: 1 / span 5;
            }
            
            &-2 {
                grid-row: 3;
                grid-column: 1 / span 5;
            }
        }   
        
        &-logo {
            grid-row: 2;
            grid-column: 1 / span 5;
            
            width: 80%;
            margin: 0 auto;
            
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
    
    &-title {
        font-size: 2rem;
        color: $orange;
        margin-bottom: 20px;
        text-align: center;
    }
    
    &-text {
        color: $light-grey;
        font-size: 1.1rem;
        text-align: justify;
        margin: 0 auto;
        -moz-text-align-last: center;
        text-align-last: center;
    }
    
    @media (max-width: 800px) {
        grid-template-rows: auto auto auto; 
        align-items: center;
        
        &-students {
            grid-column: 2 / span 10;
            grid-row: 1;
        }
        
        &-nonprofits {
            grid-column: 2 / span 10;
            grid-row: 3
        }
        
        &-separator {
            grid-column: 2 / span 10;
            grid-row: 2;
            width: 100%;
            justify-content: center;
            align-items: center;
            &-line {
                width: 100%;
                background: $light-grey;
                height: 2px;
                
                &-1 {
                    grid-column: 1 / span 2;
                    grid-row: 2;
                }
                &-2 {
                    grid-column: 4 / span 2;
                    grid-row: 2;
                }
            } 
            
            &-logo {
                grid-column: 3;
                grid-row: 2;
                min-width: 130px;
            }
        }
    }
}

.newsletter {
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: auto auto auto 20px;
    
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    
    &-form {
        grid-column: 13 / span 10;
        grid-row: 1 / span 3;
        padding: 40px 10px;
        
        color: $light;
        
        &-field {
            width: 100%;
            height: 40px;
            background: #555;
            border: none;
            padding: 5px;
            color: $light;
            font-size: 1rem;
            &:focus {
                background: $red;
            }
            
            transition: all 0.2s ease-in;
        }
        
        &-btn {
            background: $light;
            color: $dark-grey;
            cursor: pointer;
            
            &:hover, &:focus {
                background: $red;
                color: $light;
            }
            
            &:active {
                background: $orange;
                color: $dark-grey;
            }
        }
        
        &-group {
            padding: 5px 0;
        }
        
        z-index: 1;
    }
    
    &-desc {
        grid-column: 3 / span 10;
        grid-row: 3 / span 2;
        
        background: $red;
        padding: 20px 30px;
        
        color: $light-grey;
        z-index: 2;

        font-size: 1.1rem;
    }
    
    &-form-bg {
        grid-column: 12 / span 12;
        grid-row: 1 / span 3;
        background: $dark-grey;
        z-index: 0;
    }

    @media (max-width: 800px) {
        background: $red;
        &-form {
            grid-column: 5 / span 16;
            grid-row: 1 / span 2;
        }

        &-desc {
            padding: 20px 0;
            text-align: justify;
            grid-column: 4 / span 18;
            grid-row: 3 / span 2;
        }

        &-form-bg {
            grid-column: 4 / span 18;
            grid-row: 1 / span 2;
        }
    }
}

