$font-family: 'Open Sans', sans-serif;

//Color Pallete
$primary: #123456;
$secondary: #654321;
$light: #eee;
$light-grey: #f5f6f8;
$dark-grey: #404040;
$orange: #f9b54d;
$green: #65c6b9;
$red: #c13a2c;
$white: #ffffff;